/*body {
    position: relative;
}*/

.map {
    border: 1px solid #000;
}
table, th, td {
    border: 1px solid black;
    margin: 8px;
}

#header {
    padding: 10px;
    height: auto;
    width: 50%;
    position: absolute;
    top: 8px;
    left: 15%;
    border: 1px solid black;
    background-color: rgba(155,200,200,0.3);
}

#input_search {
    margin: 5px;
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.text_smoke {
    font-size: 13px;
    color: #6b6d70;
}

#hide_search {
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 17px;
}

/* When the input field gets focus, change its width to 100% */
#input_search:focus {
  width: 95%;
}

.righ-panel {
    height: 500px;
    width: 40%;
    float: left;
}

#contextmenu {
    text-align: center;
    display: inline-block;   
}

.centextButton {
    margin: 2px;
    width: 100%;
}

.ol-popup {
    position: absolute;
    background-color: white;
    -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #cccccc;
    bottom: 12px;
    left: -50px;
    min-width: 180px;
}

.ol-popup:after, .ol-popup:before {
    top: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.ol-popup:after {
    border-top-color: white;
    border-width: 10px;
    left: 48px;
    margin-left: -10px;
}

.ol-popup:before {
    border-top-color: #cccccc;
    border-width: 11px;
    left: 48px;
    margin-left: -11px;
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.divSelect{
    width: 50%;
    float: left;
}

#divRight {
    position: absolute;
    right: 0px;
    top: 0px;
}

#table {
    background-color: rgba(155,200,200,0.3);
}

{box-sizing: border-box;}

/* The popup form - hidden by default */
.dashboard-popup {
    display: none;
    position: fixed;
    bottom: 0;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    border: 3px solid #f1f1f1;
    background-color: rgba(255,255,255,1);
    z-index: 9;
}

#iframe-dashboard {
    width: 100%;    
    height: 100%;
}

#dashboard-div {
    width: 100%;    
    height: 100%;
}